<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Snapshots</title>
    <style>       
        {#asset main.css @encoding=utf8}
    </style>
</head>
<body>
    {{{pdfCreatePagesGroup title="Lease Snapshot" subtitle="Lease Snapshot as of: " snapshotAsOf=leaseSnapshot.asOf msn=msn today=today logoImageData=logoImageData deliveryDate=aircraftDetails.deliveryDate airframeSubSeries=aircraftDetails.airframeSubSeries engineSubSeries=aircraftDetails.engineSubSeries}}} 

    <main class="content__main">
        <section class="section">
            <h2>Fundamentals</h2>
            <div class="nugget__container">
                <div class="nugget">
                    <h4 class="mb-1">Airframe Series</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.airframeSeries}}</p>
                </div>
                <div class="nugget">
                    <h4 class="mb-1">Engine Sub-Series</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.engineSubSeries}}</p>
                </div>
                <div class="nugget">
                    <h4 class="mb-1">Delivery Date</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.deliveryDate}}</p>
                </div>
                <div class="nugget">
                    <h4 class="mb-1">Age</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.age}}</p>
                </div>
            </div>
        </section>

        <section class="section">
            <h2>Lease</h2>
            <div class="nugget__container mb-4">
                <div class="nugget">
                    <h4 class="mb-1">Lease start date</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.leaseStartDate}}</p>
                </div>
                <div class="nugget">
                    <h4 class="mb-1">Lease end date</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.leaseEndDate}}</p>
                </div>
                <div class="nugget">
                    <h4 class="mb-1">Operator</h4>
                    <p class="h2 fw-normal">{{aircraftDetails.currentOperator}}</p>
                </div>
            </div>
        </section>

        {{#if leaseSnapshot.cashSecurityDeposit}}
            <section class="section">
                <h2>Cash Security Deposit</h2>
                <div class="nugget__container mb-4">
                    <div class="nugget">
                        <h4 class="mb-1">Amount</h4>
                        <p class="h2 fw-normal">{{leaseSnapshot.cashSecurityDeposit}}</p>
                    </div>
                </div>
            </section>
        {{/if}}
        <div style="page-break-before: always"/>
        {{#if leaseSnapshot.mr}}
        <section class="section">
            <div class="mb-6">
                <h2 class="mb-4">Maintenance Reserves</h2>
                
                {{#each leaseSnapshot.mr.engines}}
                    <div class="section__sub-1 mr-section">
                        <h3 class="h3__no-border mb-2">{{this.engineName}}</h3>
                        {{#if this.groupedPr}}
                            <h4 class=" mb-2">Grouped PR</h4>
                            <div class="nugget__container mb-4">
                                <div class="nugget">
                                    <h4 class="mb-1">Cash Balance</h4>
                                    <p class="h2 fw-normal">{{this.pr.cashBalance}}</p>
                                </div>
                                <div class="nugget">
                                    <h4 class="mb-1">Letter of Credit Balance</h4>
                                    <p class="h2 fw-normal">{{this.pr.letterOfCreditBalance}}</p>
                                </div>
                            </div>
                            {{#if this.pr.payables}}                 
                            <table class="table">
                                <tr>
                                    <th class="text-left">Payables</th>
                                    <th class="text-right">On</th>
                                </tr>
                                {{#each this.pr.payables}}
                                    <tr>
                                        <td class="text-left">{{this.value}}</td>
                                        <td class="text-right">{{this.date}}</td>
                                    </tr>
                                {{/each}}
                            </table>    
                            {{/if}}
                        {{/if}}
                        {{#each this.modulePr}}
                            <h4 class=" mb-2">{{this.moduleName}}</h4>
                            <div class="nugget__container mb-4">
                                <div class="nugget">
                                    <h4 class="mb-1">Cash Balance</h4>
                                    <p class="h2 fw-normal">{{this.cashBalance}}</p>
                                </div>
                                <div class="nugget">
                                    <h4 class="mb-1">Letter of Credit Balance</h4>
                                    <p class="h2 fw-normal">{{this.letterOfCreditBalance}}</p>
                                </div>
                            </div>
                            {{#if this.payables}}                 
                            <table class="table">
                                <tr>
                                    <th class="text-left">Payables</th>
                                    <th class="text-right">On</th>
                                </tr>
                                {{#each this.payables}}
                                    <tr>
                                        <td class="text-left">{{this.value}}</td>
                                        <td class="text-right">{{this.date}}</td>
                                    </tr>
                                {{/each}}
                            </table>    
                            {{/if}}
                        {{/each}}
                                                
                    </div>
                    <div class="section__sub-1 mr-section">
                        <h4 class=" mb-2">LLP Stack</h4>
                        <div class="nugget__container mb-4">
                            <div class="nugget">
                                <h4 class="mb-1">Cash Balance</h4>
                                <p class="h2 fw-normal">{{this.llps.cashBalance}}</p>
                            </div>
                            <div class="nugget">
                                <h4 class="mb-1">Letter of Credit Balance</h4>
                                <p class="h2 fw-normal">{{this.llps.letterOfCreditBalance}}</p>
                            </div>
                        </div>     
                        {{#if this.llps.payables}}                 
                        <table class="table">
                            <tr>
                                <th class="text-left">Payables</th>
                                <th class="text-right">On</th>
                            </tr>
                            
                            {{#each this.llps.payables}}
                                <tr>
                                    <td class="text-left">{{this.value}}</td>
                                    <td class="text-right">{{this.date}}</td>
                                </tr>
                            {{/each}}
                        </table>   
                        {{/if}}             
                    </div>
                {{/each}}

                {{#each leaseSnapshot.mr.aircraftParts}}
                    <div class="section__sub-1 mr-section">
                        <h3 class="h3__no-border mb-2">{{this.partName}}</h3>
                        {{#each this.checks}}
                            <h4 class=" mb-2">{{this.checkName}}</h4>
                            <div class="nugget__container mb-4">
                                <div class="nugget">
                                    <h4 class="mb-1">Cash Balance</h4>
                                    <p class="h2 fw-normal">{{this.cashBalance}}</p>
                                </div>
                                <div class="nugget">
                                    <h4 class="mb-1">Letter of Credit Balance</h4>
                                    <p class="h2 fw-normal">{{this.letterOfCreditBalance}}</p>
                                </div>
                            </div>
            
                            {{#if this.payables}}
                            <table class="table mb-2">
                                <tr>
                                    <th class="text-left">Payables</th>
                                    <th class="text-right">On</th>
                                </tr>
                                {{#each this.payables}}
                                    <tr>
                                        <td class="text-left">{{this.value}}</td>
                                        <td class="text-right">{{this.date}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </section>
        {{/if}}

        {{#if leaseSnapshot.lessorContribution}}
        <div style="page-break-before: always"/>
        <section class="section">
            <div class="mb-6">
                <h2 class="mb-4">Lessor Contribution</h2>
                {{#each leaseSnapshot.lessorContribution.engines}}
                {{#if @index}}
                    <div style="page-break-before: always"/>
                {{/if}}
                <div class="section__sub-1 engine-lc-section">
                    <h3 class="h3__no-border mb-2">{{this.engineName}}</h3>
                    <h4 class="mb-2" style="text-decoration: underline;">Module PR</h4>
                    {{#each this.modulesPR}}
                        <div class="lc-section"/>
                            <h5 class="mb-2">{{this.moduleName}}</h5>        
                            {{#if this.payables}}
                                <table class="table mb-2">
                                    <tr>
                                        <th class="text-left">Payables</th>
                                        <th class="text-right">On</th>
                                        <th class="text-right">At EOL</th>
                                    </tr>
                                    {{#each this.payables}}
                                        <tr>
                                            <td class="text-left">{{this.value}}</td>
                                            <td class="text-right">{{this.date}}</td>
                                            <td class="text-right">{{#if this.atEOL}} YES {{else}} NO {{/if}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            {{else}}
                                <p class="mb-2" style="font-style: italic">Payables: None</p>
                            {{/if}}
                        </div>
                    {{/each}}
                    
                    {{#if this.llps}}
                    <h4 class="mb-2" style="text-decoration: underline;">LLPs</h4>
                    {{#each this.llps}}
                        <div class="lc-section">
                            <h5 class="mb-2">{{this.llpName}}</h5>
                            <p class="mb-2">Claimed: {{#if this.claimed}}YES{{else}}NO{{/if}}</p>
                            {{#if this.payables}}
                                <table class="table">
                                    <tr>
                                        <th class="text-left">Payables</th>
                                        <th class="text-right">On</th>
                                        <th class="text-right">At EOL</th>
                                    </tr>
                                    {{#each this.payables}}
                                        <tr>
                                            <td class="text-left">{{this.value}}</td>
                                            <td class="text-right">{{this.date}}</td>
                                            <td class="text-right">{{#if this.atEOL}}YES{{else}}NO{{/if}}</td>
                                        </tr>
                                    {{/each}}             
                                </table>
                            {{else}}
                                <p class="mb-2" style="font-style: italic">Payables: None</p>
                            {{/if}}
                        </div>
                    {{/each}}
                    {{/if}}
                
                </div>
                {{/each}}

                {{#if leaseSnapshot.lessorContribution}}
                    <div style="page-break-before: always" class="aircraft-part-lc-section">
                    {{#each leaseSnapshot.lessorContribution.aircraftParts}}
                        <div class="section__sub-1 lc-section">
                            <h3 class="h3__no-border mb-2">{{this.partName}}</h3>
                            {{#each this.checks}}
                                <h4 class="mb-2">{{this.checkName}}</h4>
                                {{#if this.payables}}
                                    <table class="table mb-6">
                                        <tr>
                                            <th class="text-left">Payables</th>
                                            <th class="text-right">On</th>
                                            <th class="text-right">At EOL</th>
                                        </tr>
                                        {{#each this.payables}}
                                            <tr>
                                                <td class="text-left">{{this.value}}</td>
                                                <td class="text-right">{{this.date}}</td>
                                                <td class="text-right">{{#if this.atEOL}}YES{{else}}NO{{/if}}</td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/each}}
                    </div>
                {{/if}}
            </div>
        </section>
        {{/if}}
    </main>
</body>
<script> 
    let MAX_PAGE_SIZE = 700 
    const mrSections = document.getElementsByClassName("mr-section");
    let runningTotal = 0;
    for (const section of mrSections) {
            const currentElementHeight = section.offsetHeight;
            if ((runningTotal + currentElementHeight) > MAX_PAGE_SIZE) {
                section.style["page-break-before"] = "always";
                runningTotal = 0;
            }
            runningTotal += currentElementHeight; 
    }

    MAX_PAGE_SIZE = 500
    const engineLcSections = document.getElementsByClassName("engine-lc-section");
    for (const section of engineLcSections) {
        const subSections = section.getElementsByClassName("lc-section");
        runningTotal = 0
        for (const subSection of subSections) {
            const currentElementHeight = subSection.offsetHeight;
            if ((runningTotal + currentElementHeight) > MAX_PAGE_SIZE) {
                subSection.style["page-break-before"] = "always";
                runningTotal = 0;
            } 
            runningTotal += currentElementHeight;
        }
    }

    MAX_PAGE_SIZE=600
    const partLcSections = document.getElementsByClassName("aircraft-part-lc-section");
    for (const section of partLcSections) {
        const subSections = section.getElementsByClassName("lc-section");
        runningTotal = 0
        for (const subSection of subSections) {
            const currentElementHeight = subSection.offsetHeight;
            if ((runningTotal + currentElementHeight) > MAX_PAGE_SIZE) {
                subSection.style["page-break-before"] = "always";
                runningTotal = 0;
            } 
            runningTotal += currentElementHeight;
        }
    }
</script>
</html>