
<html>
<head>
    <meta charset="UTF-8">
    <title>Report sample</title>
    <style>
        {#asset main.css @encoding=utf8}
    </style>
</head>
<body>
    {{#each $pdf.pages}}
    {{#if @index}}
        <div style="page-break-before: always;"></div>
    {{/if}}
<main class="main">
    <header class="header">
        <div class="header__lead">{{getHeaderText ../$pdf.pages @index}}</div>
        {{#with (lookup ../$pdf.pages @index)}}
                <h1>{{getTitle ../$pdf.pages @index}}</h1>
                <p class="header__sub-head">{{getSubtitle ../$pdf.pages @index}}</p>
        {{/with}}  
        <div class="header__logo">
            <!--
            
         <img src="https://via.placeholder.com/126x74.png?text=Client+Logo" width="126" height="74" alt="Client name" />    
         -->  
         <img src={{getLogoImageData ../$pdf.pages @index}} />  
        </div>
            
    </header>

    <footer class="footer">
        <div class="footer__wrap"> 
            <span class="footer__company">
                <!--
                                    <svg width="85" height="16" viewBox="0 0 492 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.7701 12.1826C17.0423 7.14475 20.6296 0 26.8869 0H59.54C67.8075 0 75.5866 3.92481 80.512 10.5811L137.106 87.064C140.834 92.1018 137.247 99.2466 130.99 99.2466H98.3364C90.069 99.2466 82.2899 95.3218 77.3645 88.6655L20.7701 12.1826Z" fill="#2B5DC1"/>
<path d="M32.5725 46.1162C33.7962 44.3529 36.382 44.3084 37.6653 46.0286L64.2119 81.6123C69.6365 88.8835 64.4637 99.2466 55.4097 99.2466H4.71982C0.913566 99.2466 -1.32176 94.9538 0.852878 91.8204L32.5725 46.1162Z" fill="#2B5DC1"/>
<path d="M176.41 80.6594H171.888C166.167 80.6594 161.722 79.0913 158.552 75.9552C155.46 72.8191 153.914 68.4591 153.914 62.8753V39.9281C153.914 34.2678 155.46 29.9078 158.552 26.8482C161.722 23.7121 166.167 22.144 171.888 22.144H197.863C199.255 22.144 199.95 22.7942 199.95 24.0945V78.7088C199.95 80.0092 199.255 80.6594 197.863 80.6594H190.558C189.243 80.6594 188.586 80.0092 188.586 78.7088V74.5784H188.122C186.267 78.6324 182.363 80.6594 176.41 80.6594ZM188.586 61.1542V33.0439C188.586 32.279 188.161 31.8966 187.311 31.8966H173.511C167.945 31.8966 165.162 34.7267 165.162 40.387V62.4163C165.162 68.0767 167.945 70.9068 173.511 70.9068H179.077C185.417 70.9068 188.586 67.656 188.586 61.1542Z" fill="black"/>
<path d="M255.115 80.6594H230.068C224.347 80.6594 219.902 79.0913 216.732 75.9552C213.64 72.8191 212.094 68.4591 212.094 62.8753V39.9281C212.094 34.2678 213.64 29.9078 216.732 26.8482C219.902 23.7121 224.347 22.144 230.068 22.144H239.576C245.297 22.144 249.742 23.7121 252.912 26.8482C256.081 29.9078 257.666 34.2678 257.666 39.9281V54.4996C257.666 55.8764 256.97 56.5648 255.579 56.5648H224.501C223.651 56.5648 223.226 56.9473 223.226 57.7122V62.6458C223.226 68.2296 226.048 71.0215 231.691 71.0215H255.115C256.507 71.0215 257.202 71.71 257.202 73.0868V78.8236C257.202 80.0474 256.507 80.6594 255.115 80.6594ZM224.501 48.7628H245.258C246.031 48.7628 246.418 48.3803 246.418 47.6154V40.2723C246.418 37.3657 245.761 35.2622 244.447 33.9618C243.132 32.585 241.006 31.8966 238.069 31.8966H231.691C228.753 31.8966 226.627 32.585 225.313 33.9618C223.999 35.2622 223.342 37.3657 223.342 40.2723V47.6154C223.342 48.3803 223.728 48.7628 224.501 48.7628Z" fill="black"/>
<path d="M278.558 80.6594H271.253C269.938 80.6594 269.281 80.0092 269.281 78.7088V24.0945C269.281 22.7942 269.938 22.144 271.253 22.144H278.558C279.872 22.144 280.529 22.7942 280.529 24.0945V28.4545H280.993C281.766 26.5422 283.235 25.0124 285.4 23.8651C287.642 22.7177 290.115 22.144 292.821 22.144H297.112C298.426 22.144 299.083 22.7942 299.083 24.0945V30.0608C299.083 31.5141 298.426 32.1261 297.112 31.8966H290.154C283.738 31.8966 280.529 35.3769 280.529 42.3376V78.7088C280.529 80.0092 279.872 80.6594 278.558 80.6594Z" fill="black"/>
<path d="M316.821 80.6594H309.515C308.201 80.6594 307.544 80.0092 307.544 78.7088V1.9505C307.544 0.650167 308.201 0 309.515 0H316.821C318.135 0 318.792 0.650167 318.792 1.9505V78.7088C318.792 80.0092 318.135 80.6594 316.821 80.6594Z" fill="black"/>
<path d="M339.827 99.2466H333.681C332.367 99.2466 331.71 98.5964 331.71 97.2961V91.4445C331.71 90.0677 332.367 89.3793 333.681 89.3793H336.348C341.064 89.3793 344.311 88.4614 346.089 86.6256C347.944 84.7898 349.49 81.7685 350.727 77.5615H346.089C344.929 77.5615 344.117 76.9113 343.654 75.611L328.231 24.0945C327.922 22.7942 328.424 22.144 329.738 22.144H337.508C338.745 22.144 339.518 22.7942 339.827 24.0945L352.467 69.071H352.93L365.57 24.0945C365.802 22.7942 366.575 22.144 367.889 22.144H375.311C376.78 22.144 377.398 22.8324 377.166 24.2093L361.28 79.3973C359.502 85.8225 356.989 90.7179 353.742 94.0835C350.495 97.5255 345.857 99.2466 339.827 99.2466Z" fill="black"/>
<path d="M424.343 12.3915V1.9505C424.343 0.726657 424.962 0.114734 426.199 0.114734H433.736C434.973 0.114734 435.592 0.726657 435.592 1.9505V12.3915C435.592 13.6918 434.973 14.342 433.736 14.342H426.199C424.962 14.342 424.343 13.6918 424.343 12.3915ZM424.343 78.7088V24.0945C424.343 22.7942 424.962 22.144 426.199 22.144H433.62C434.935 22.144 435.592 22.7942 435.592 24.0945V78.7088C435.592 79.4737 435.437 80.0092 435.128 80.3152C434.896 80.5446 434.432 80.6594 433.736 80.6594H426.315C425.001 80.6594 424.343 80.0092 424.343 78.7088Z" fill="black"/>
<path d="M455.235 80.6594H446.422C444.721 80.6594 444.296 80.0092 445.147 78.7088L460.569 50.828L445.494 24.0945C444.644 22.7942 444.992 22.144 446.538 22.144H455.467C456.936 22.144 457.941 22.7942 458.482 24.0945L467.875 43.8291H468.339L477.152 24.0945C477.693 22.7942 478.659 22.144 480.051 22.144H488.864C490.487 22.144 490.874 22.7942 490.023 24.0945L475.412 50.7133L491.183 78.7088C491.956 80.0092 491.608 80.6594 490.139 80.6594H480.978C479.664 80.6594 478.737 80.0092 478.195 78.7088L468.339 58.4006H467.875L458.134 78.7088C457.593 80.0092 456.627 80.6594 455.235 80.6594Z" fill="black"/>
<path d="M387.168 10.6704V20.9967V33.0439V63.1048C387.168 68.6886 388.792 73.0103 392.038 76.0699C395.285 79.1295 399.769 80.6593 405.49 80.6593H411.752C413.143 80.6593 413.839 80.0474 413.839 78.8236V72.8573C413.839 71.557 413.143 70.9068 411.752 70.9068H407.229C401.431 70.9068 398.532 68.1149 398.532 62.5311V33.0439C398.532 32.279 398.957 31.8966 399.808 31.8966H410.592C411.984 31.8966 412.679 31.2846 412.679 30.0608V24.0945C412.679 22.7942 411.984 22.144 410.592 22.144H399.808C398.957 22.144 398.532 21.7616 398.532 20.9967V10.6704C398.532 9.37008 397.875 8.71991 396.561 8.71991H389.255C387.864 8.71991 387.168 9.37008 387.168 10.6704Z" fill="black"/>
</svg>
                    -->
                <img src={{getLogoImageData ../$pdf.pages @index}} width="85" />
            </span>
            <span class="footer__cap">Confidential and Proprietary</span>
            <span class="footer__page-number">{{getPageInfo ../$pdf.pages @index}}</span>
            
        </div>
    </footer>
    </main>
    {{/each}}
</body>
</html>